/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: red;
}
h1 {
    font-weight: 600;
   
}